
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="script">
	
	<!-- Core plugin JavaScript-->
	<script src="/bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>
	
	<!-- Custom scripts for all pages-->
	<script src="/bootstrap/js/sb-admin-2.min.js"></script>
	
	<!-- Page level plugins -->
	<script src="/bootstrap/vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="/bootstrap/vendor/datatables/dataTables.bootstrap4.min.js"></script>
	
	<script>
		// 도메인 가져와서 일치하는 사이드 메뉴 addclass('active')
		$(document).ready(function() {
			activeMenu();
		})
		
		function activeMenu() {
			var currentPath = window.location.pathname;
			$(".nav-link[href='"+currentPath+"']").parent().addClass("active");
		}
		
		function logout() {
			deleteCookie("X-AUTH-TOKEN");
			location.reload();
		}
		
		function deleteCookie(name) {
		    document.cookie = name + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
		}
		
		function formatDate(date) {
		    const year = date.getFullYear();
		    const month = String(date.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작하므로 1을 더하고 2자리로 포맷
		    const day = String(date.getDate()).padStart(2, '0'); // 일을 2자리로 포맷
		    return `${year}-${month}-${day}`;
		}
		
		function tableToJson(tableId) { 
		    var transactions = [];
		    var table = $('#'+tableId).DataTable(); 
		    var data = table.rows().data(); 
		    for (var i = 0; i < data.length; i++) { 
		    	for (var j = 0; j < data[i].length; j++) {
		    		// 
		    	}
		    	transactions.push(data[i]); 
		    }
		    return transactions;
		}
		
		function tableHeaderToJson(tableId) { 
		    var headers = [];
		    var arrOfArr = [];
		    $("thead").find("th").each(function () {
		    	headers.push($(this).text().trim());
		    });
		    
		    $("#"+tableId).find("tr").each(function () {
		    	
		    	$("#"+tableId).find("td").each(function (i) {
		    		var td = $(this);
		    		var tdVal = '';
		        	tdVal = td.eq(i).html();
		    	});
		    });
		    
		    arrOfArr[0]=headers;
		    return arrOfArr;
		}
	</script>
</th:block>
</html>