<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/main-layout}">
<th:block layout:fragment="content">
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
<script>
var xhr = $.ajaxSettings.xhr();
xhr.previous_text = "";
var headerList = ['키워드', '블로그명', '블로그주소', '제목', 'PC순위', 'MO순위']
var bodyList = []
var dataTable1;

$(document).ready(function() {
})

// 영역 스위칭
function toggleArea(obj) {
	var $icon = $(".fas." + obj);
	
	if ($icon.hasClass("fa-arrow-up")) {
        $icon.removeClass("fa-arrow-up").addClass("fa-arrow-down");
    } else {
        $icon.removeClass("fa-arrow-down").addClass("fa-arrow-up");
    }
    
	$("#"+obj).slideToggle();
}

// 개별 순위 조회
function searchRank() {
	var keywordList = $("#keywordList").val().trim();
	var blogList = $("#blogList").val().trim();
	
	if(keywordList == "") {
		alert("검색 키워드를 입력해주세요");
		return false;
	}
	if(blogList == "") {
		alert("블로그 주소를 입력해주세요");
		return false;
	}
	
	initProgress();
	
	$("#progressModal").modal({'backdrop':'static'});
	
	startProgress();
}

// 진행상항 노출
function startProgress() {
    var keywordList = $("#keywordList").val().trim();
	var blogList = $("#blogList").val().trim();
	xhr.previous_text = "";
	if(dataTable1) {
		dataTable1.destroy();
		$("#tableBody").html('');
		bodyList = [];
	}
	
	$.ajax({
        type: 'POST',
        url: '/ranking/startCrawling',
        contentType: 'application/json;charset=UTF-8', // 서버에서 스트리밍되는 데이터의 형식
        // contentType: 'text/plain;charset=UTF-8', // 서버에서 스트리밍되는 데이터의 형식
        data : JSON.stringify({
			"keywordList" : keywordList,
			"blogList": blogList
		}),
		dataType : "json",
		async: true,
        xhrFields: {
            onprogress: function (e) {
				var result = e.currentTarget.responseText.substring(xhr.previous_text.length);
                if (result !== "") {
					
					var jsonString = result;
					var jsonObject = JSON.parse(jsonString);
					var item = jsonObject;
					bodyList.push(item);
					var html = "";
						html += "<tr>";
						html += "	<td>" + item.number + "</td>";
						html += "	<td>" + item.keyword + "</td>";
						html += "	<td>" + item.name + "</td>";
						html += "	<td><a href='" + item.blog + "' target='_blank'>" + item.blog + "</td>";
						html += "	<td><a href='" + item.href + "' target='_blank'>" + item.title + "</td>";
						html += "	<td>" + item.rank + "</td>";
						html += "	<td>" + (item.rank > 15 ? '-' : item.rank) + "</td>";
						html += "</tr>";
					
					html = html.replaceAll('undefined', '-');
					$("#tableBody").append(html);
					
					var percent = Number(item.percent);
					$("#progress-bar").text(percent + "%");
                    $("#progress-bar").css("width", percent + "%");
                    
	                xhr.previous_text = e.currentTarget.responseText;

					if(percent == 100) {
						dataTable1 = $('#dataTable1').DataTable();
						$("#progressClose").removeClass('hide');
						xhr.previous_text = '';
					}
                }
            }
        },
    });
}

// 프로그래스 초기화
function initProgress() {
	$("#progressClose").addClass('hide');
	$("#progress-bar").text('');
	$("#progress-bar").css("width", '0%');
	$("#tableBody").html('');
}

// 결과창 노출
function showResult() {
	// 검색창 숨김
	if($(".fas.search").hasClass("fa-arrow-up")) {
		toggleArea("search");
	}
	// 결과창 오픈
	if($(".fas.result").hasClass("fa-arrow-down")) {
		toggleArea("result");
	}
}

function downloadExcel() {
	$("#headerList").val(JSON.stringify(headerList));
	$("#bodyList").val(JSON.stringify(bodyList));
	$("#frm").submit();
}
</script>
<div class="container-fluid">
	<form id="frm" name="frm" action="/ranking/xlsDownload" method="post">
		<input type="hidden" id="headerList" name="headerList" value="">
		<input type="hidden" id="bodyList" name="bodyList" value="">
	</form>
	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">개별조회</h1>
	</div>

	<!-- 검색 영역 -->
	<div class="row">
		<div class="col-12">
			<div class="card shadow mb-4">
				<div class="card-header py-3" onclick="toggleArea('search');">
					<h6 class="m-0 font-weight-bold text-primary">
						<span class="icon text-gray-600">
                            <i class="search fas fa-arrow-up"></i>
                        </span>&nbsp;
						검색
					</h6>
				</div>
				<div class="card-body" id="search">
					<div class="row mb-4">
						<div class="col-1"></div>
						<div class="col-5">
							<label><span class="asterisk">*</span>검색 키워드</label>
							<textarea class="form-control" id="keywordList" name="keywordList" rows="20">수원산부인과 
대구 임신중절수술 
강남산부인과 
부천산부인과</textarea>
						</div>
						<div class="col-5">
							<label><span class="asterisk">*</span>블로그 주소</label>
							<textarea class="form-control" id="blogList" name="blogList" rows="20">https://blog.naver.com/ijw0111/223210254356 
https://blog.naver.com/tarjanil/223199460600
https://blog.naver.com/kagurazuki/223199614544 
https://blog.naver.com/cabbianopiu/223199663615</textarea>
						</div>
						<div class="col-1"></div>
					</div>
					<div style="text-align: center;">
						<a href="#" class="btn btn-primary btn-icon-split" onclick="searchRank(); return false;">
		                    <span class="text">개별 순위 조회</span>
		                </a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 컨텐츠 영역 -->
	<div class="row">
		<div class="col-12">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<div class="row">
						<div class="col-12" onclick="toggleArea('result');">
							<h6 class="m-0 font-weight-bold text-primary">
								<span class="icon text-gray-600">
		                            <i class="result fas fa-arrow-down"></i>
		                        </span>&nbsp;
		                        결과
		                    </h6>
						</div>
					</div>
				</div>
				<div class="card-body hide" id="result">
					<div class="mb-3" style="text-align: right;">
					  <a href="#" class="btn btn-primary btn-icon-split" onclick="downloadExcel('dataTable1');">
			            <span class="text">엑셀다운로드</span>
			          </a>
					</div>
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
							<colgroup>
								<col width="4%" />
								<col width="15%" />
								<col width="15%" />
								<col width="23%" />
								<col width="29%" />
								<col width="7%" />
								<col width="7%" />
							</colgroup>
							<thead>
								<tr>
									<th>No.</th>
									<th>키워드</th>
									<th>블로그명</th>
									<th>블로그주소</th>
									<th>제목</th>
									<th>PC순위</th>
									<th>MO순위</th>
								</tr>
							</thead>
							<tbody id="tableBody">
								<tr>
									<td colspan="100" style="text-align: center;">검색 결과가 없습니다.</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Progress Modal-->
<div class="modal fade" id="progressModal" tabindex="-1" role="dialog" aria-labelledby="progressModalLabel" aria-hidden="true" style="top: 200px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">데이터를 수집중입니다.</h5>
            </div>
            <div class="modal-body">
                <div class="progress mt-4 mb-4">
                    <div id="progress-bar" class="progress-bar" style="transition: width 0.5s;"></div>
                </div>
			</div>
            <div class="modal-footer">
                <button id="progressClose" class="btn btn-secondary hide" type="button" data-dismiss="modal" onclick="showResult();">확인</button>
            </div>
        </div>
    </div>
</div>
</th:block>

</html>